{% extends "base.html" %}

{% block content %}
<h1>Najnowsze pytania</h1>
{% for poll in polls %}
<div class="poll">
    <h2><a href="{% url 'poll_detail' poll.pk %}">{{ poll }}</a></h2>
</div>
{% endfor %}
{% endblock %}