{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="jumbotron">
        {% placeholder 'jumbotron' or %}
        <h1>Demonstracja Django CMS</h1>
        <p>Arcyciekawy wstępniak</p>
        {% endplaceholder %}
    </div>

    <div class="row">
        <div class="col-md-3">
            {% placeholder 'col-1'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% placeholder 'col-2'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% placeholder 'col-3'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
    </div>
{% endblock %}